.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.kotak {
  background-color: #ffeb3b;
  width: 200px;
  height: 100px;
  flex-shrink: 0;
}
.panjang {
  height: 100px;
  flex-grow: 1;
  background-color: #ff5722;
}
.hijau {
  background-color: #aedd94;
  width: 200px;
  height: 400px;
  flex-shrink: 0;
}
.abu {
  height: 400px;
  flex-grow: 1;
  background-color: #d1d6db;
}
.biru {
  background-color: #03a9f4;
  width: 200px;
  height: 400px;
  flex-shrink: 0;
}
.boxbawah {
  background-color: #0024ee;
  height: 100px;
  width: 100%;
  margin-bottom: 20px;
}
