.container {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  padding: 20px;
}
.box {
  flex: 1;
  margin: 0 10px;
}
.kuning {
  background-color: #ffeb3b;
  background-image: url(img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.orange {
  background-color: #ff5722;
  background-image: url(img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hijau {
  background-color: #8bc34a;
  background-image: url(img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.biru {
  background-color: #03a9f4;
  background-image: url(img4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
